@use "base";


#animationbox {
    width: 1050px;
    height: 1050px;
    background-color: base.$background-light;
    display: grid;
    gap: 2%;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;


#animation1 {
    max-width: 100%;
    max-height: 100%;
    background-color: base.$main-color;

    display: grid;
    grid-template-columns: repeat(9, 1fr);
    grid-template-rows: repeat(9, 1fr);


        img {
            max-width: 100%;
            grid-row: 5/10;
            grid-column: 2/9;
        }

        #bubble1 {
            grid-row: 3/4;
            grid-column: 4/5;
            background-color: pink;
            border-radius: 50%;
            animation: bubblecolor 4s 1s infinite alternate;

        }

        #bubble2 {
            grid-row: 4/5;
            grid-column: 6/7;
            background-color: pink;
            border-radius: 50%;
            animation: bubblecolor 4s 2s infinite alternate;

        }

        #bubble3 {
            grid-row: 2/3;
            grid-column: 6/7;
            background-color: pink;
            border-radius: 50%;
            animation: bubblecolor 4s 3s infinite alternate ;

        }

        #bubble4 {
            grid-row: 5/6;
            grid-column:5/6 ;
            background-color: pink;
            border-radius: 50%;
            animation: bubblecolor 4s 4s infinite alternate;

        }

        #bubble5 {
            grid-row: 2/3;
            grid-column: 2/3;
            background-color: pink;
            border-radius: 50%;
            animation: bubblecolor 4s 5s infinite alternate;
        }

        #bubble6 {
            grid-row: 1/2;
            grid-column: 4/5;
            background-color: pink;
            border-radius: 50%;
            animation: bubblecolor 4s 6s infinite alternate;
        }

    }

    @keyframes bubblecolor {
        0% {
            background-color: pink;
        }
    
        25% {
            background-color: rebeccapurple;
        }
    
        50% {
            background-color: deepskyblue;
        }
    
        75% {
            background-color: springgreen;
        }
    
        100% {
            background-color: yellow;
        }
    }



#animation2 {
    width: 100%;
    height: 100%;
    background-color: base.$main-color;
    position: relative;


#fly1 {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color: rebeccapurple;
    position: absolute;
    top: 0;
    animation: catchMe 10s 1s infinite linear;
    
}

#fly2 {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color: springgreen;
    position: absolute;
    top: 0;
    animation: catchMe 10s 4s infinite linear;
}

#fly3 {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color: yellow;
    position: absolute;
    top: 0;
    animation: catchMe 10s 7s infinite linear;
}
}


@keyframes catchMe {
    0% {
        transform: translate(0px);
    }

    25% {
         transform: translate(465px);
    }

    50% {
        transform: translate(465px, 435px);
    }

    75% {
        transform: translate(0px, 430px);
    }

    100% {
        transform: translate(0px, 0px);
    }
}


#animation3 {
    width: 100%;
    height: 100%;
    background-color: base.$main-color;
    display: grid;
    grid-template-columns: repeat(14, 1fr);
    grid-template-rows: repeat(14, 1fr);
    gap: 10px;

    .figure {
        background-color: rgb(240, 232, 234);
        width: 65px;
        border-radius: 50% 50% 0 0;
        display: grid;
        grid-template-columns: repeat(5, 1fr);
        grid-template-rows: repeat(10, 1fr);
        gap: 3px;
        transition-property: background-color;
        transition-duration: 1s;
    }

    .figure:hover {
        background-color: base.$main-color;
    }

    .figure:focus {
        background-color: base.$main-color;
        }        

    #figure1 {
        grid-column: 1/3;
        grid-row: 11/15;
        height: 150px;
    }

    .eye {
        background-color: rgba(71, 71, 71, 0.986);
        width: 10px;
        height: 10px;
        border-radius: 50%;
    }

    #eye1 {
        grid-column: 2/3;
        grid-row: 4/5;
    }

    #eye2 {
        grid-column: 4/5;
        grid-row: 4/5;
    }

    #figure2 {
        grid-column: 3/5;
        grid-row: 9/15;
        height: 230px;
    }

    #figure3 {
        grid-column: 5/7;
        grid-row: 10/15;
        height: 190px;
    }

    #figure4 {
        grid-column: 7/9;
        grid-row: 11/15;
        height: 150px;
    }

    #figure5 {
        grid-column: 9/11;
        grid-row: 9/15;
        height: 230px;
    }

    #figure6 {
        grid-column: 11/13;
        grid-row: 10/15;
        height: 190px;
    }

    #figure7 {
        grid-column: 13/15;
        grid-row: 11/15;
        height: 150px;
    }
}

#animation4 {
    width: 100%;
    height: 100%;
    background-color: base.$main-color;
    display: grid;
    grid-template-columns: 1fr 2fr 1fr;
    grid-template-rows: 1fr 2fr 1fr;
    animation: bubblecolor 3s 1s infinite alternate;
    animation-play-state: paused;
}

    #clickme {
        background: url(../images/smiley.png);
        width: 270px;
        height: 270px;
        border: none;
        display: block;
        margin: auto;
        padding-top: 15%;
        font-size: 1.2em;
        grid-column: 2/3;
        grid-row: 2/3;
    }

    #clickme:hover {
        cursor: pointer;
    }
}









